{% load i18n %}
<!DOCTYPE html>
<html>
<head>
    <title>Quote Template</title>
    <style>
        {{ css_data|safe }}
    </style>
</head>

<body>
    <div class="header">
        <img src="data:image/png;base64,{{ image_data }}" alt="Company Logo">
        <div class="business-info">
            <div class="business-info-status">
                {% if quote.is_invoice %}
                    FACTURE
                {% else %}
                    SOUMISSION
                {% endif %}
            </div>
            <div>
                <div class="business-info-title">Titan Parking | 16484557 Canada Inc.</div>
                <div class="business-info-text">227 rue Veilleux, St-Germain-de-Grantham, QC, J0C 1K0</div>
                <div class="business-info-text">contact@titanparking.ca</div>
                <div class="business-info-text">418 955-4461</div>
            </div>
        </div>
    </div>


    <div class="content">
        <div class="invoice-info-container">
            <div class="invoice-info-base client-info">
                <div class="invoice-info-title">Client:</div>
                <div>{{ quote.client.company }}</div>
                <div>{{ quote.client.address }}</div>
                <div>Contact: {{ quote.client.name }}</div>
                <div>{{ quote.client.email }}</div>
            </div>
            <div class="invoice-info-base invoice-job-info">
                <div class="invoice-info-title">Informations:</div>
                <div>Numéro: {{ quote.invoice_number }}</div>
                <div>Date: {% now "j F Y" %}</div>
                {% if quote.status != 'invoice' %}
                    <div>Date d'échéance: {{ quote.expires_at|date:"j F Y" }}</div>
                {% endif %}
                {% if quote.job_location %}
                    <div>Lieu: {{ quote.job_location }}</div>
                {% endif %}
                
            </div>
        </div>

        <div class="quote-items">
            <div class="quote-items-header">
                <div>Services</div>
                <div>Total</div>
            </div>
            {% for item in quote.items.all %}
            <div class="quote-item {% cycle 'odd' 'even' %}">
                <div>
                    <div class="quote-item-service-name">
                        {% if LANGUAGE_CODE == 'en' %}
                            {{ item.service.get_name_en }}
                        {% else %}
                            {{ item.service.get_name_fr }}
                        {% endif %}
                    </div>
                    <div class="quote-item-service-description">
                        {% if item.notes %}
                            {{ item.notes|linebreaksbr }}
                        {% else %}
                            {% get_current_language as LANGUAGE_CODE %}
                            {% if LANGUAGE_CODE == 'en' %}
                                {{ item.service.get_description_en }}
                            {% else %}
                                {{ item.service.get_description_fr }}
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
                <div>{{ item.total_price }}$</div>
            </div>
            {% endfor %}
        </div>

        <div class="services-footer">
            <div class="footer-conditions">
                <div class="footer-conditions-title">Notes</div>
                <div class="footer-conditions-description">
                {% if quote.notes %}
                    {{ quote.notes }}
                {% endif %}
                {% if quote.status == 'invoice' %}
                    <div>Payable sur reception.</div>
                    <div>Virement bancaire: contact@titanparking.ca</div>
                {% elif not quote.notes %}
                    <br>
                {% endif %}
                </div>
                
            </div>
            <div class="quote-total-container">
                <div class="quote-total-item">
                    <div>Sous-total</div>
                    <div>{{ quote.subtotal }}$</div>
                </div>
                {% if quote.discount_percentage > 0 %}
                <div class="quote-total-item">
                    <div>Discount:</div>
                    <div>{{ quote.discount_percentage }}%</div>
                </div>
                {% endif %}
                <div class="quote-total-item">
                    <div>TPS (5%):</div>
                    <div>{{ quote.tps_amount }}$</div>
                </div>
                <div class="quote-total-item">
                    <div>TVQ (9.975%):</div>
                    <div>{{ quote.tvq_amount }}$</div>
                </div>
                <div class="quote-total-item">
                    <div>Total:</div>
                    <div>{{ quote.final_total }}$</div>
                </div>
            </div>
        </div>

    </div>

    <div class="footer">
        <div>TPS: 73949 9028 RT0001</div>
        <div>TVQ: 1232192824 TQ0001</div>
        <!-- <div>RBQ:</div> -->
    </div>
</body>
</html>

